@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@plugin "daisyui";


@theme {
  /* Her tilføjes theme variable // tokens */

  /* Cutom colors */
  --color-blue-50: #EAF5FF;
  --color-blue-100: #DAECFF;
  --color-blue-200: #BBDBFF;
  --color-blue-300: #92C2FF;
  --color-blue-400: #679CFF;
  --color-blue-500: #679CFF;
  --color-blue-600: #234BFF;
  --color-blue-700: #2445EB;
  --color-blue-800: #1735BC;
  --color-blue-900: #1C3593;
  --color-blue-950: #111D55;

  --color-darkblue-50: #F1F3FF;
  --color-darkblue-100: #E6E9FF;
  --color-darkblue-200: #D0D6FF;
  --color-darkblue-300: #AAB3FF;
  --color-darkblue-400: #7980FF;
  --color-darkblue-500: #4544FF;
  --color-darkblue-600: #2B1EFF;
  --color-darkblue-700: #1A0CF5;
  --color-darkblue-800: #1509CE;
  --color-darkblue-900: #140AA8;
  --color-darkblue-950: #060372;

  --color-orange-50: #FFF6EC;
  --color-orange-100: #FFEAD3;
  --color-orange-200: #FFD0A5;
  --color-orange-300: #FFAF6D;
  --color-orange-400: #FF8132;
  --color-orange-500: #FF5E0A;
  --color-orange-600: #FF4400;
  --color-orange-700: #CC2E02;
  --color-orange-800: #A1250B;
  --color-orange-900: #82210C;
  --color-orange-950: #460D04;

  --color-yellow-50: #FFFEEA;
  --color-yellow-100: #FFFAC5;
  --color-yellow-200: #FFF685;
  --color-yellow-300: #FFEA46;
  --color-yellow-400: #FFDB1B;
  --color-yellow-500: #FFBB00;
  --color-yellow-600: #E29000;
  --color-yellow-700: #BB6502;
  --color-yellow-800: #984E08;
  --color-yellow-900: #7C400B;
  --color-yellow-950: #482100;

  --color-neutral-50: #FEFEFE;
  --color-neutral-100: #EFEFEF;
  --color-neutral-200: #DCDCDC;
  --color-neutral-300: #BDBDBD;
  --color-neutral-400: #989898;
  --color-neutral-500: #7C7C7C;
  --color-neutral-600: #656565;
  --color-neutral-700: #525252;
  --color-neutral-800: #464646;
  --color-neutral-900: #3D3D3D;
  --color-neutral-950: #292929;
  --color-neutral-1000: #000000;

  /* Font */
  --font-urbanist: "Urbanist", sans-serif;
  --font-syne: "Syne", sans-serif;


}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-neutral-200, currentColor);
  }
}

@layer components{
h1 {
    font-family: var(--font-syne);
    font-weight: bold;
    color: var(--color-neutral-1000);
  }


    h2 {
      font-family: var(--font-syne);
      font-weight: bold;
      color: var(--color-neutral-1000);
    }
  


      h3 {
        font-family: var(--font-syne);
        font-weight: bold;
        color: var(--color-neutral-1000);
      }
    


        h4 {
          font-family: var(--font-syne);
          font-weight: bold;
          color: var(--color-neutral-1000);
        }
      


          h5 {
            font-family: var(--font-syne);
            font-weight: bold;
            color: var(--color-neutral-1000);
          }

          h6 {
            font-family: var(--font-syne);
            font-weight: bold;
            color: var(--color-neutral-1000);

          }
            p {
              font-family: var(--font-urbanist);
              font-weight: 400;
              color: var(--color-neutral-1000);
            }
          
                a {
                  font-family: var(--font-urbanist);
                  font-weight: 400;
                  color: var(--color-neutral-1000);
                }
              
  }
  
@layer utilities{
  
}


