---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Lookbook 2025">
	<!------------------- Slider/Hero ------------------->

	<div class="relative overflow-hidden w-full">
		<!-- Slides -->
		<input class="carousel-open hidden" type="radio" id="carousel-1" name="carousel" aria-hidden="true" checked />
		<div class="carousel-item absolute opacity-0 transition-opacity duration-600 ease-out">
			<img src="/hero_1.webp" class="block w-full h-screen object-cover" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<!-- Overlay -->
		</div>
		<input class="carousel-open hidden" type="radio" id="carousel-2" name="carousel" aria-hidden="true" />
		<div class="carousel-item absolute opacity-0 transition-opacity duration-600 ease-out">
			<img src="/hero_2.webp" class="block w-full h-screen object-cover" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<!-- Overlay -->
		</div>
		<input class="carousel-open hidden" type="radio" id="carousel-3" name="carousel" aria-hidden="true" />
		<div class="carousel-item absolute opacity-0 transition-opacity duration-600 ease-out">
			<img src="/hero_3.webp" class="block w-full h-screen object-cover" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<!-- Overlay -->
		</div>

		<!-- Navigation Bullets -->
		<div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
			<button type="button" class="carousel-bullet w-3 h-3 rounded-full border-2 border-white" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
			<button type="button" class="carousel-bullet w-3 h-3 rounded-full border-2 border-white" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
			<button type="button" class="carousel-bullet w-3 h-3 rounded-full border-2 border-white" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
		</div>

		<!-- Shared Text Overlay -->
		<article class="absolute inset-0 grid grid-cols-12 max-w-7xl mx-auto p-5 z-20 content-center">
			<div class="col-start-1 col-span-12 md:col-span-8">
				<div class="pb-14">
					<h5 class="md:text-h5-desktop text-h5-mobile text-neutral-50 pb-5">Lookbook 2025</h5>
					<h1 class="md:text-h1-desktop text-h3-mobile text-neutral-50 pb-5">One sofa. Always evolving.</h1>
					<h5 class="md:text-h5-desktop text-h5-mobile text-neutral-50">Change the cover when the mood shifts. Add a module when life expands. TEDDY transforms with you – into a sofa, bed, or conversation pit – always ready for what’s next.</h5>
				</div>
				<a href="/teddy"> <Button variant="primary" size="medium md:large">Meet the original Teddy</Button></a>
				<a href="/card"><Button variant="tertiary" size="medium md:large">Explore colors</Button></a>
			</div>
		</article>
	</div>

	<!------------------- Teddy Plus ------------------->
	<section class="max-w-7xl mx-auto p-5">
		<div class="md:pt-20 pt-10">
			<div class="flex items-center h-96 sticky top-0">
				<div class="grid grid-cols-12">
					<h1 class="md:text-h1-desktop text-h3-mobile text-center col-start-1 md:col-start-4 col-span-12 md:col-span-6">Introducing Teddy Plus – the three-seater designed for ultimate comfort and timeless style.</h1>
				</div>
			</div>
			<img class="sticky top-0" src="/teddy_plus_blue.webp" alt="Teddy Plus blue" />
		</div>
	</section>

	<!------------------- Before/After slider ------------------->
	<section class="grid grid-cols-12 max-w-7xl mx-auto p-5">
		<div class="col-start-1 col-span-12 md:col-span-6">
			<h3 class="text-h4-mobile md:text-h3-desktop">Sofa, bed, or conversation pit</h3>
			<p>Whether it’s lounging on the sofa, sharing stories with friends, or unwinding in a cozy bed at the end of the day, Teddy flexes to suit your needs. Seamlessly shifting from one function to the next.</p>
		</div>
	</section>

	<figure class="grid diff aspect-16/9" tabindex="0">
		<div class="diff-item-1" role="img" tabindex="0">
			<img alt="Teddy bed" src="/before_after_bed.webp" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<h4 class="content-end py-3 md:py-5 pl-5 md:pl-28">Bed</h4>
		</div>
		<div class="grid diff-item-2" role="img">
			<img alt="Teddy sofa" src="/before_after_sofa.webp" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<h4 class="content-end text-end py-3 md:py-5 pr-5 md:pr-28">Sofa</h4>
		</div>
		<div class="diff-resizer"></div>
	</figure>

	<!------------------- Accordion ------------------->
	<section class="max-w-7xl mx-auto p-5">
		<div
			x-data="{
				active: 0,
				items: [
					{
						title: 'Convertible design',
						description: 'Effortlessly transitions between a sofa and a double bed, offering versatility for any space.',
						image: '/convertible_design.webp',
					},
					{
						title: 'Durable build',
						description: 'Crafted with high-quality materials to provide long-lasting support and reliability.',
						image: '/durable_build.webp',
					},
					{
						title: 'Comfort-focused',
						description: 'Plush cushioning ensures maximum comfort for both sitting and sleeping.',
						image: '/comfort_focused.webp',
					},
					{
						title: 'Compact and stylish',
						description: 'A sleek, modern design that complements any room while saving space.',
						image: '/compact_and_stylish.webp',
					},
				]
			}"
			class="flex flex-col md:flex-row gap-2 overflow-visible md:overflow-x-auto h-[500px]"
		>
			<template x-for="(item, index) in items" :key="index">
				<div @click="active = index" class="relative transition-all duration-500 ease-in-out cursor-pointer bg-cover bg-center text-neutral-50 flex-shrink-0" :class="active === index ? 'md:flex-grow w-full md:h-[500px] h-[70vh]' : 'md:w-[100px] w-full md:h-[500px] h-16'" :style="`background-image: url(${item.image})`">
					<!-- Mørkt overlay -->
					<div class="absolute inset-0 bg-neutral-1000/20 z-0"></div>

					<!-- Label (roteret på desktop, normal på mobil) -->
					<div class="absolute top-2 left-2 md:top-1/2 md:left-1/2 md:transform md:-translate-y-1/2 md:-translate-x-1/2 md:rotate-90 whitespace-nowrap text-h5-mobile md:text-h5-desktop tracking-wide z-10" x-show="active !== index" x-transition>
						<span x-text="item.title"></span>
					</div>

					<!-- Content -->
					<div class="absolute bottom-0 p-5 w-full flex flex-col justify-end space-y-3 z-10" x-show="active === index" x-transition>
						<h3 class="text-h4-mobile md:text-h3-desktop text-neutral-50" x-text="item.title"></h3>
						<p class="text-neutral-50" x-text="item.description"></p>
					</div>
				</div>
			</template>
		</div>
	</section>

	<!------------------- Shop the look ------------------->

	<!------------------- Upgrade ------------------->

	<!------------------- Colors ------------------->

	<!------------------- Shop the look ------------------->

	<!------------------- Timeline ------------------->

	<!------------------- Explore the collection ------------------->

	<!------------------- Timeline ------------------->

	<!------------------- Testimonials ------------------->

	<!------------------- FAQ ------------------->
	<div class="w-full max-w-3xl px-2 mx-auto py-12 dark:bg-transparent">
		<h3 class="text-h4-mobile md:text-h3-desktop">Got questions? We’ve got answers!</h3>
		<div class="grid max-w-5xl mx-auto mt-6 divide-y divide-neutral-200">
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">What do I do if my sofa or other products arrives damaged?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					If your sofa or any other product arrives damaged, please follow these steps: <br /><br />Document the Damage: Take clear photos of the damage as soon as possible. This will help us understand the issue and expedite the process. <br /><br />Contact Our Support Team: Reach out to us at hello@omhucph.com, if possible, within 48
					hours of receiving the item. Please provide your order number, a brief description of the damage, and the photos you took. <br /><br />We’ll Take Care of the Rest: Our team will review your case and work with you to find the best solution, whether it’s a replacement, repair, or other suitable option. Your satisfaction is our
					priority, and we’ll make sure to resolve the issue quickly and effectively.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">How much does shipping cost?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Shipping costs can be estimated directly on the product page, and the exact price will always be shown at checkout. The cost varies depending on your location, and it can fluctuate over time due to factors like shipping routes and courier availability. <br /><br />We understand that shipping a sofa can seem like a significant
					expense. Large furniture requires special freight, and we work closely with trusted couriers who specialize in handling our products with care. This ensures your sofa arrives safely and within the expected timeframe, providing you with the high-quality OMHU experience you deserve.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">How long does delivery take?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Our estimated delivery time is 3-6 weeks, as we produce all orders on demand and in sequence. This means that production time is not affected by the model, color, or destination of your order. <br /><br />

					Because each piece is made to order, we can’t provide an exact delivery date upfront. However, as soon as your order is ready for dispatch, you will receive an email with the subject "Your order is on the way." From there, our shipping partner will keep you updated and coordinate a delivery date that works best for you.

					<br /><br />We appreciate your patience — your OMHU piece is being carefully crafted just for you!
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">How can I get the TEDDY if you do not ship to my country?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Love our original TEDDY sofa but can’t order it in your country yet? We hear you! OMHU is on a journey to bring our designs to new markets around the world, and your interest helps shape where we ship next.

					<br /><br />Sign up and help us prioritize your country through this link: https://omhucph.com/pages/waitlist

					<br /><br />We’re expanding quickly and adding new countries every month! Sign up below to let us know where you are, and we’ll keep you updated on future launches in your region.

					<br /><br />Together, we’re building a global OMHU community – and we can’t wait to bring our designs to you.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Do you deliver outside the EU?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Yes we do! At the moment we also ship to the US and Canada.

					<br /><br />For US and Canadian customers, our products are available through TEAK NYC at teaknewyork.com.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Can I get free color swatches?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Yes! We know choosing the perfect color is a big deal, so we offer free fabric swatches to help you see and feel the materials before making your decision — you only have to cover the shipping.

					<br /><br />You can order them directly on our website — just add your favorite colors to the cart, and we’ll send them your way.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Where can I see the TEDDY sofa in person?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">We get it — seeing (and sinking into) the TEDDY sofa in real life makes all the difference. You can experience it for yourself in one of our showrooms! Check our Showrooms & Friends of OMHU for the latest locations and come feel the comfort firsthand.</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Will the mattresses slide apart when using TEDDY as a bed?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">Nope! TEDDY is designed to stay in place. <br /><br />The mattresses have Velcro strips underneath, and we also include extra Velcro strips that you can use to attach the mattresses together — so they won’t slide apart when in bed mode.</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">How is TEDDY different from cheaper alternatives online?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					We know there are lookalikes out there, but TEDDY isn’t just about looks — it’s about quality, durability, and craftsmanship. We’ve spent years perfecting the materials, design, and feel to make TEDDY truly unique.

					<br /><br />Cheaper versions often lack the same high-quality foam, sturdy construction, and longlasting fabric that make TEDDY as comfortable and long-lasting as it is. To ensure you’re getting the real deal, we recommend purchasing only through omhucph.com or teaknewyork.com for US customers.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Can mold form underneath the TEDDY mattresses?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					We know there are lookalikes out there, but TEDDY isn’t just about looks — it’s about quality, durability, and craftsmanship. We’ve spent years perfecting the materials, design, and feel to make TEDDY truly unique.

					<br /><br />Cheaper versions often lack the same high-quality foam, sturdy construction, and longlasting fabric that make TEDDY as comfortable and long-lasting as it is. To ensure you’re getting the real deal, we recommend purchasing only through omhucph.com or teaknewyork.com for US customers.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Can mold form underneath the TEDDY mattresses?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Nope! TEDDY is designed to prevent moisture buildup. All our mattress covers have a technical fabric underneath that acts as a barrier against moisture formation.

					<br /><br />The mattresses themselves are made from cold foam (High Resilience foam), which has an open-cell structure that allows air to circulate freely. This helps regulate temperature and prevents heat buildup — keeping your TEDDY fresh and breathable at all times.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">What is your return policy?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					We offer a 30-day return policy if you change your mind.

					<br /><br />Please be aware that returns must be made in the original packaging and the item must be intact and in the same condition as when you received it.

					<br /><br />Shipping costs for the return are covered by the customer, and you are responsible for arranging the return delivery. This allows you to choose the easiest and most suitable shipping solution for you. Once we receive the item back at our warehouse, we will process your refund as quickly as possible. <br /><br />To
					ensure a smooth return process, please keep all original packaging, as returns without it cannot be accepted.
				</p>
			</details>
		</div>

		<style>
			/**************** Slider/Hero ****************/
			.carousel-open:checked + .carousel-item {
				position: static;
				opacity: 100;
			}

			.carousel-bullet {
				background-color: transparent;
				transition: background-color 0.3s ease;
			}

			.carousel-bullet[aria-current="true"] {
				background-color: white;
			}

			/**************** Accordion ****************/
			.md\:flex-grow {
				flex: 1 1 auto;
			}
		</style>
		<script src="/src/index.js" type="module"></script>
	</div>
</MainLayout>
