---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
import Testimonials from "../components/Testimonials.astro";
---

<MainLayout title="Lookbook 2025">
	<!------------------- Slider/Hero ------------------->

	<div class="relative overflow-hidden w-full">
		<!-- Slides -->
		<input class="carousel-open hidden" type="radio" id="carousel-1" name="carousel" aria-hidden="true" checked />
		<div class="carousel-item absolute opacity-0 transition-opacity duration-600 ease-out">
			<img src="/hero_1.webp" class="block w-full h-screen object-cover" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<!-- Overlay -->
		</div>
		<input class="carousel-open hidden" type="radio" id="carousel-2" name="carousel" aria-hidden="true" />
		<div class="carousel-item absolute opacity-0 transition-opacity duration-600 ease-out">
			<img src="/hero_2.webp" class="block w-full h-screen object-cover" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<!-- Overlay -->
		</div>
		<input class="carousel-open hidden" type="radio" id="carousel-3" name="carousel" aria-hidden="true" />
		<div class="carousel-item absolute opacity-0 transition-opacity duration-600 ease-out">
			<img src="/hero_3.webp" class="block w-full h-screen object-cover" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<!-- Overlay -->
		</div>

		<!-- Navigation Bullets -->
		<div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
			<button type="button" class="carousel-bullet w-3 h-3 rounded-full border-2 border-white" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
			<button type="button" class="carousel-bullet w-3 h-3 rounded-full border-2 border-white" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
			<button type="button" class="carousel-bullet w-3 h-3 rounded-full border-2 border-white" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
		</div>

		<!-- Shared Text Overlay -->
		<article class="absolute inset-0 grid grid-cols-12 max-w-7xl mx-auto p-5 z-20 content-center">
			<div class="col-start-1 col-span-12 md:col-span-8">
				<div class="pb-14">
					<h5 class="md:text-h5-desktop text-h5-mobile text-neutral-50 pb-5">Lookbook 2025</h5>
					<h1 class="md:text-h1-desktop text-h3-mobile text-neutral-50 pb-5">One sofa. Always evolving.</h1>
					<h5 class="md:text-h5-desktop text-h5-mobile text-neutral-50">Change the cover when the mood shifts. Add a module when life expands. TEDDY transforms with you – into a sofa, bed, or conversation pit – always ready for what’s next.</h5>
				</div>
				<a href="/teddy"> <Button variant="primary" size="medium md:large">Meet the original Teddy</Button></a>
				<a href="/card"><Button variant="tertiary" size="medium md:large">Explore colors</Button></a>
			</div>
		</article>
	</div>

	<!------------------- Teddy Plus ------------------->
	<section class="max-w-7xl mx-auto p-5">
		<div class="md:pt-20 pt-10">
			<div class="flex items-center h-96 sticky top-0">
				<div class="grid grid-cols-12">
					<h1 class="md:text-h1-desktop text-h3-mobile text-center col-start-1 md:col-start-4 col-span-12 md:col-span-6">Introducing Teddy Plus – the three-seater designed for ultimate comfort and timeless style.</h1>
				</div>
			</div>
			<img class="sticky top-0" src="/teddy_plus_blue.webp" alt="Teddy Plus blue" />
		</div>
	</section>

	<!------------------- Before/After slider ------------------->
	<section class="grid grid-cols-12 max-w-7xl mx-auto p-5">
		<div class="col-start-1 col-span-12 md:col-span-6">
			<h3 class="text-h4-mobile md:text-h3-desktop">Sofa, bed, or conversation pit</h3>
			<p>Whether it’s lounging on the sofa, sharing stories with friends, or unwinding in a cozy bed at the end of the day, Teddy flexes to suit your needs. Seamlessly shifting from one function to the next.</p>
		</div>
	</section>

	<figure class="grid diff aspect-16/9" tabindex="0">
		<div class="diff-item-1" role="img" tabindex="0">
			<img alt="Teddy bed" src="/before_after_bed.webp" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<h4 class="content-end py-3 md:py-5 pl-5 md:pl-28">Bed</h4>
		</div>
		<div class="grid diff-item-2" role="img">
			<img alt="Teddy sofa" src="/before_after_sofa.webp" />
			<div class="absolute inset-0 bg-neutral-1000/20"></div>
			<h4 class="content-end text-end py-3 md:py-5 pr-5 md:pr-28">Sofa</h4>
		</div>
		<div class="diff-resizer"></div>
	</figure>

	<!------------------- Accordion ------------------->
	<section class="max-w-7xl mx-auto p-5">
		<div
			x-data="{
				active: 0,
				items: [
					{
						title: 'Convertible design',
						description: 'Effortlessly transitions between a sofa and a double bed, offering versatility for any space.',
						image: '/convertible_design.webp',
					},
					{
						title: 'Durable build',
						description: 'Crafted with high-quality materials to provide long-lasting support and reliability.',
						image: '/durable_build.webp',
					},
					{
						title: 'Comfort-focused',
						description: 'Plush cushioning ensures maximum comfort for both sitting and sleeping.',
						image: '/comfort_focused.webp',
					},
					{
						title: 'Compact and stylish',
						description: 'A sleek, modern design that complements any room while saving space.',
						image: '/compact_and_stylish.webp',
					},
				]
			}"
			class="flex flex-col md:flex-row gap-2 overflow-visible md:overflow-x-auto h-[500px]"
		>
			<template x-for="(item, index) in items" :key="index">
				<div @click="active = index" class="relative transition-all duration-500 ease-in-out cursor-pointer bg-cover bg-center text-neutral-50 flex-shrink-0" :class="active === index ? 'md:flex-grow w-full md:h-[500px] h-[70vh]' : 'md:w-[100px] w-full md:h-[500px] h-16'" :style="`background-image: url(${item.image})`">
					<!-- Mørkt overlay -->
					<div class="absolute inset-0 bg-neutral-1000/20 z-0"></div>

					<!-- Label (roteret på desktop, normal på mobil) -->
					<div class="absolute top-2 left-2 md:top-1/2 md:left-1/2 md:transform md:-translate-y-1/2 md:-translate-x-1/2 md:rotate-90 whitespace-nowrap text-h5-mobile md:text-h5-desktop tracking-wide z-10" x-show="active !== index" x-transition>
						<span x-text="item.title"></span>
					</div>

					<!-- Content -->
					<div class="absolute bottom-0 p-5 w-full flex flex-col justify-end space-y-3 z-10" x-show="active === index" x-transition>
						<h3 class="text-h4-mobile md:text-h3-desktop text-neutral-50" x-text="item.title"></h3>
						<p class="text-neutral-50" x-text="item.description"></p>
					</div>
				</div>
			</template>
		</div>
	</section>

	<!------------------- Shop the look ------------------->
	<section class="max-w-7xl mx-auto p-5">
		<section class="grid grid-cols-12 gap-5">
			<!-- Venstre billede -->
			<div class="col-span-12 md:col-span-6 relative">
				<!-- Billede -->
				<img class="h-[350px] md:h-screen w-full object-cover" src="/shop_the_look_teddy_ottoman.webp" alt="Teddy og Ottoman Rust" />
				<!-- Tekst og cirkel-overlay -->
				<div class="absolute top-0 left-0 mt-2.5 md:mt-5 flex items-center gap-2 bg-neutral-50 px-3 py-1 rounded-r-full">
					<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Rust</span>
					<span class="w-6 h-6 rounded-full bg-[#8D442F]"></span>
				</div>
				<!-- Cirklerne ovenpå billedet -->
				<div class="absolute top-[50%] left-[55%] transform -translate-x-1/2 -translate-y-1/2 flex justify-center items-center cursor-pointer circle" data-title="Teddy" data-price="12.850,00 DKK" data-image="/teddy/teddy_rust.webp" data-link="/teddy">
					<!-- Større cirkel -->
					<span class="rounded-full bg-neutral-50/35 w-10 h-10"></span>
					<!-- Lille cirkel ovenpå den store -->
					<span class="rounded-full bg-neutral-50 w-6 h-6 absolute"></span>
				</div>
				<div class="absolute top-[65%] left-[40%] transform -translate-x-1/2 -translate-y-1/2 flex justify-center items-center cursor-pointer circle" data-title="Ottoman" data-price="3.400,00 DKK" data-image="/ottoman_rust.webp" data-link="/teddy">
					<!-- Større cirkel -->
					<span class="rounded-full bg-neutral-50/35 w-10 h-10"></span>
					<!-- Lille cirkel ovenpå den store -->
					<span class="rounded-full bg-neutral-50 w-6 h-6 absolute"></span>
				</div>
			</div>

			<!-- Popup -->
			<div id="popup" class="hidden fixed inset-0 bg-neutral-1000 bg-opacity-50 justify-center items-center z-50">
				<div class="bg-neutral-50 p-3 w-64 relative">
					<button id="closePopup" class="absolute top-2 right-2 text-neutral-1000">
						<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
						</svg>
					</button>
					<img id="popupImage" class="w-full h-32 object-cover" src="" alt="Product Image" />
					<div class="flex justify-between items-center mt-2">
						<div>
							<h2 id="popupTitle" class="text-lg font-bold"></h2>
							<p id="popupPrice" class="text-neutral-1000"></p>
						</div>
						<a id="popupLink" href="">
							<Button variant="quaternary" size="medium md:large">→</Button>
						</a>
					</div>
				</div>
			</div>

			<!-- Højre kolonne med grid -->
			<div class="col-span-12 md:col-span-6 grid grid-rows-2 gap-5 h-screen">
				<!-- Billede 1 -->
				<div class="relative">
					<img class="w-full h-full object-cover" src="/shop_the_look_teddy_chair.webp" alt="Teddy Chair Sage" />
					<div class="absolute top-0 left-0 mt-2.5 md:mt-5 flex items-center gap-2 bg-neutral-50 px-3 py-1 rounded-r-full">
						<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Sage</span>
						<span class="w-6 h-6 rounded-full bg-[#869680]"></span>
					</div>
					<a class="absolute bottom-0 left-0 flex gap-5 items-center bg-neutral-50 p-2.5 pr-5 m-2.5" href="/teddy">
						<img class="h-20 w-20" src="/teddy_chair_sage.webp" alt="Teddy Chair Sage" />
						<div class="grid grid-rows-2 gap-2.5">
							<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Teddy Chair</span>
							<span class="text-p-mobile md:text-p-desktop text-neutral-1000">7.495,00 DKK</span>
						</div>
					</a>
				</div>

				<!-- Billede 2 -->
				<div class="relative">
					<img class="w-full h-full object-cover" src="/shop_the_look_teddy.webp" alt="Teddy Moss" />
					<div class="absolute top-0 left-0 mt-2.5 md:mt-5 flex items-center gap-2 bg-neutral-50 px-3 py-1 rounded-r-full">
						<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Moss</span>
						<span class="w-6 h-6 rounded-full bg-[#65644F]"></span>
					</div>
					<a class="absolute bottom-0 left-0 flex gap-5 items-center bg-neutral-50 p-2.5 pr-5 m-2.5" href="/teddy">
						<img class="h-20 w-20" src="/teddy_chair_sage.webp" alt="Teddy Chair Sage" />
						<div class="grid grid-rows-2 gap-2.5">
							<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Teddy Chair</span>
							<span class="text-p-mobile md:text-p-desktop text-neutral-1000">7.495,00 DKK</span>
						</div>
					</a>
				</div>
			</div>
		</section>
	</section>

	<!------------------- Upgrade ------------------->
	<section class="max-w-7xl mx-auto p-5" x-data="{ activeImage: '/upgrade_corner_closed.webp' }">
		<section class="grid grid-cols-12">
			<div class="col-start-1 col-span-12 md:col-span-6 pb-5 md:pb-10">
				<h3 class="text-h4-mobile md:text-h3-desktop">Upgrade Teddy – Designed to grow</h3>
				<p>Life shifts, and so can your sofa. Upgrade your Teddy to fit your evolving space and lifestyle – Corner Closed, Corner Open, or Teddy Plus.</p>
			</div>
		</section>

		<section class="grid grid-cols-12">
			<div class="col-span-12 md:col-span-6 place-content-center space-y-5 md:space-y-10">
				<h1 class="text-h2-mobile md:text-h1-desktop cursor-pointer transition-colors duration-200" @mouseenter="activeImage = '/upgrade_corner_closed.webp'" @click="activeImage = '/upgrade_corner_closed.webp'" :class="activeImage === '/upgrade_corner_closed.webp' ? 'text-neutral-1000' : 'text-neutral-400 hover:text-neutral-1000'">
					Corner closed
				</h1>

				<h1 class="text-h2-mobile md:text-h1-desktop cursor-pointer transition-colors duration-200" @mouseenter="activeImage = '/upgrade_corner_open.webp'" @click="activeImage = '/upgrade_corner_open.webp'" :class="activeImage === '/upgrade_corner_open.webp' ? 'text-neutral-1000' : 'text-neutral-400 hover:text-neutral-1000'">
					Corner open
				</h1>

				<h1 class="text-h2-mobile md:text-h1-desktop cursor-pointer transition-colors duration-200" @mouseenter="activeImage = '/upgrade_teddy_plus.webp'" @click="activeImage = '/upgrade_teddy_plus.webp'" :class="activeImage === '/upgrade_teddy_plus.webp' ? 'text-neutral-1000' : 'text-neutral-400 hover:text-neutral-1000'">Teddy Plus</h1>
			</div>

			<div class="col-span-12 md:col-span-6">
				<img :src="activeImage" alt="Upgrade image" class="w-full transition-opacity duration-300 ease-in-out" />
			</div>
		</section>
	</section>

	<!------------------- Colors ------------------->

	<!----- Video ----->

	<div class="w-full overflow-hidden">
		<div class="relative">
			<!-- Mobil video -->
			<video class="block md:hidden w-full object-cover" autoplay muted loop playsinline>
				<source src="/color_video_mobil.mp4" type="video/mp4" />
			</video>

			<!-- Desktop video -->
			<video class="hidden md:block w-full object-cover" autoplay muted loop playsinline>
				<source src="/color_video_desktop.mp4" type="video/mp4" />
			</video>

			<!-- Overlay – kun over video -->
			<div class="absolute inset-0 bg-neutral-1000/20 z-10"></div>

			<!-- Tekst -->
			<div class="absolute inset-0 z-20">
				<div class="max-w-7xl mx-auto p-5 md:py-10">
					<div class="flex items-start justify-start">
						<h2 class="text-neutral-50 text-h4-mobile md:text-h2-desktop">Every piece in 21 colors</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!----- Color skift ----->
	<section
		class="max-w-7xl mx-auto p-5"
		x-data="{
		activeImage: '/teddy/teddy_cream_white.webp',
		colors: [
			{ hex: '#EFEDEB', name: 'Cream white', image: '/teddy/teddy_cream_white.webp' },
			{ hex: '#DED3CD', name: 'Sand', image: '/teddy/teddy_sand.webp' },
			{ hex: '#543E34', name: 'Brown', image: '/teddy/teddy_brown.webp' },
			{ hex: '#224366', name: 'Blue', image: '/teddy/teddy_blue.webp' },
			{ hex: '#5A98A2', name: 'Turquoise', image: '/teddy/teddy_turquoise.webp' },
			{ hex: '#405348', name: 'Emerald', image: '/teddy/teddy_emerald.webp' },
			{ hex: '#869680', name: 'Sage', image: '/teddy/teddy_sage.webp' },
			{ hex: '#65644F', name: 'Moss', image: '/teddy/teddy_moss.webp' },
			{ hex: '#A8A977', name: 'Olive', image: '/teddy/teddy_olive.webp' },
			{ hex: '#E5C15A', name: 'Yellow', image: '/teddy/teddy_yellow.webp' },
			{ hex: '#AF7F31', name: 'Mustard', image: '/teddy/teddy_mustard.webp' },
			{ hex: '#C88147', name: 'Tangerine', image: '/teddy/teddy_tangerine.webp' },
			{ hex: '#B06439', name: 'Orange', image: '/teddy/teddy_orange.webp' },
			{ hex: '#8D442F', name: 'Rust', image: '/teddy/teddy_rust.webp' },
			{ hex: '#AD6A67', name: 'Rose', image: '/teddy/teddy_rose.webp' },
			{ hex: '#BC9FB8', name: 'Purple', image: '/teddy/teddy_purple.webp' },
			{ hex: '#AC99A5', name: 'Lavender', image: '/teddy/teddy_lavender.webp' },
			{ hex: '#DABBB7', name: 'Blush', image: '/teddy/teddy_blush.webp' },
			{ hex: '#BABCC7', name: 'Slate', image: '/teddy/teddy_slate.webp' },
			{ hex: '#4A4D51', name: 'Charcoal', image: '/teddy/teddy_charcoal.webp' },
			{ hex: '#292929', name: 'Black', image: '/teddy/teddy_black.webp' }
		]
	}"
	>
		<section class="grid grid-cols-12 gap-5">
			<div class="col-span-12 md:col-span-6 place-content-center">
				<h3 class="text-h4-mobile md:text-h3-desktop pb-5 md:pb-10">A new mood, in a new cover</h3>
				<p>21 colors. Endless moods. Find your favorite — and swap your cover whenever you’re ready for something new.</p>
				<a href="/teddy">
					<Button variant="primary" size="medium md:large">Explore extra covers</Button>
				</a>
			</div>
			<div class="col-span-12 md:col-span-6">
				<img :src="activeImage" alt="Teddy" />
			</div>
		</section>

		<!-- Color carousel -->
		<section class="bg-neutral-50 py-10">
			<div class="relative max-w-7xl mx-auto px-5">
				<!-- Titel og knapper -->
				<div class="flex justify-end pb-5">
					<div class="flex items-center gap-5 h-full">
						<button id="leftArrow" class="w-6 h-6 flex items-center justify-center">
							<img src="/pil.svg" alt="Forrige" class="w-6 h-6 transform rotate-180" />
						</button>
						<button id="rightArrow" class="w-6 h-6 flex items-center justify-center">
							<img src="/pil.svg" alt="Næste" class="w-6 h-6" />
						</button>
					</div>
				</div>

				<!-- Carousel -->
				<div id="carousel" class="flex overflow-x-auto scroll-smooth py-6 pl-0 -space-x-5">
					<template x-for="(color, index) in colors" :key="index">
						<div class="relative w-[100px] h-[150px] rounded-lg flex-shrink-0 cursor-pointer transition-transform duration-300 hover:-translate-y-6 shadow-md group" :style="`background-color: ${color.hex}; z-index: ${10 + index};`" @click="activeImage = color.image; toggleActive(index)" @mouseenter="activeImage = color.image">
							<div class="absolute top-2 left-2 text-[10px] font-medium text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300" :style="`color: ${getTextColor(color.hex)}`">
								<span x-text="color.name"></span>
							</div>
						</div>
					</template>
				</div>
			</div>
		</section>
	</section>

	<!------------------- Shop the look ------------------->
	<section class="max-w-7xl mx-auto p-5">
		<section class="grid grid-cols-12 gap-5">
			<!-- Venstre billede -->
			<div class="col-span-12 md:col-span-6 relative">
				<div class="relative">
					<img class="h-[350px] md:h-screen w-full object-cover" src="/shop_the_look_corner_open.webp" alt="Corner Open Moss" />
					<div class="absolute top-0 left-0 mt-2.5 md:mt-5 flex items-center gap-2 bg-neutral-50 px-3 py-1 rounded-r-full">
						<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Moss</span>
						<span class="w-6 h-6 rounded-full bg-[#65644F]"></span>
					</div>
					<a class="absolute bottom-0 left-0 flex gap-5 items-center bg-neutral-50 p-2.5 pr-5 m-2.5" href="/teddy">
						<img class="h-20 w-20" src="/corner_open_moss.webp" alt="Corner Open Moss" />
						<div class="grid grid-rows-2 gap-2.5">
							<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Corner Open</span>
							<span class="text-p-mobile md:text-p-desktop text-neutral-1000">19.950,00 DKK</span>
						</div>
					</a>
				</div>
			</div>

			<!-- Popup -->
			<div id="popup" class="hidden fixed inset-0 bg-neutral-1000 bg-opacity-50 justify-center items-center z-50">
				<div class="bg-neutral-50 p-3 w-64 relative">
					<button id="closePopup" class="absolute top-2 right-2 text-neutral-1000">
						<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
						</svg>
					</button>
					<img id="popupImage" class="w-full h-32 object-cover" src="" alt="Product Image" />
					<div class="flex justify-between items-center mt-2">
						<div>
							<h2 id="popupTitle" class="text-lg font-bold"></h2>
							<p id="popupPrice" class="text-neutral-1000"></p>
						</div>
						<a id="popupLink" href="">
							<Button variant="quaternary" size="medium md:large">→</Button>
						</a>
					</div>
				</div>
			</div>

			<!-- Højre kolonne med grid -->
			<div class="col-span-12 md:col-span-6 grid grid-rows-2 gap-5 h-screen">
				<!-- Billede 1 -->
				<div class="relative">
					<!-- Billede -->
					<img class="w-full h-full object-cover" src="/shop_the_look_corner_closed.webp" alt="Corner Closed Rust og Pillows Rose" />
					<!-- Tekst og cirkel-overlay -->
					<div class="absolute top-0 left-0 mt-2.5 md:mt-5 flex items-center gap-2 bg-neutral-50 px-3 py-1 rounded-r-full">
						<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Rust</span>
						<span class="w-6 h-6 rounded-full bg-[#8D442F]"></span>
					</div>
					<!-- Cirklerne ovenpå billedet -->
					<div class="absolute top-[50%] left-[60%] transform -translate-x-1/2 -translate-y-1/2 flex justify-center items-center cursor-pointer circle" data-title="Corner Closed" data-price="21.600,00 DKK" data-image="/corner_closed_rust.webp" data-link="/teddy">
						<!-- Større cirkel -->
						<span class="rounded-full bg-neutral-50/35 w-10 h-10"></span>
						<!-- Lille cirkel ovenpå den store -->
						<span class="rounded-full bg-neutral-50 w-6 h-6 absolute"></span>
					</div>
					<div class="absolute top-[40%] left-[40%] transform -translate-x-1/2 -translate-y-1/2 flex justify-center items-center cursor-pointer circle" data-title="Pillows" data-price="850,00 DKK" data-image="/pillows_rose.webp" data-link="/teddy">
						<!-- Større cirkel -->
						<span class="rounded-full bg-neutral-50/35 w-10 h-10"></span>
						<!-- Lille cirkel ovenpå den store -->
						<span class="rounded-full bg-neutral-50 w-6 h-6 absolute"></span>
					</div>
				</div>

				<!-- Billede 2 -->
				<div class="relative">
					<img class="w-full h-full object-cover" src="/shop_the_look_teddy_plus.webp" alt="Teddy Plus Turquoise" />
					<div class="absolute top-0 left-0 mt-2.5 md:mt-5 flex items-center gap-2 bg-neutral-50 px-3 py-1 rounded-r-full">
						<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Moss</span>
						<span class="w-6 h-6 rounded-full bg-[#5A98A2]"></span>
					</div>
					<a class="absolute bottom-0 left-0 flex gap-5 items-center bg-neutral-50 p-2.5 pr-5 m-2.5" href="/teddy">
						<img class="h-20 w-20" src="/teddy_plus_turquoise.webp" alt="Teddy Plus Turquoise" />
						<div class="grid grid-rows-2 gap-2.5">
							<span class="text-h5-mobile md:text-h5-desktop text-neutral-1000">Teddy Chair</span>
							<span class="text-p-mobile md:text-p-desktop text-neutral-1000">7.495,00 DKK</span>
						</div>
					</a>
				</div>
			</div>
		</section>
	</section>

	<!------------------- Timeline ------------------->

	<section>
		<!---------------- Friends first ---------------->
		<div class="flex items-center h-screen w-full bg-cover bg-center sticky top-0" style="background-image: url('/friends_first.webp')">
			<div class="absolute inset-0 bg-neutral-1000/30"></div>
			<div class="max-w-7xl mx-auto p-5 grid grid-cols-12">
				<div class="stickyparallax1 z-10 col-span-12 md:col-span-6">
					<h5 class="text-neutral-50 md:text-h5-desktop text-h5-mobile pb-5">1992 - 2018</h5>
					<h1 class="text-neutral-50 md:text-h1-desktop text-h3-mobile pb-5">Friends first</h1>
					<p class="text-neutral-50">
						Born in Denmark, OMHU is the culmination of a friendship spanning over 30 years. Jonas and Frederik share a deep passion for furniture and interior design, which ignited their dream of trading curated vintage pieces. <br /><br />A few years ago, they decided to take a leap of faith, leaving their 9 to 5 jobs behind to pursue
						this shared passion. What began with an old van and countless flea market adventures soon blossomed into ‘Kram & Klenodier’, their Instagram-based vintage shop founded in 2018.
					</p>
				</div>
			</div>
		</div>
		<!---------------- Enter Teddy ---------------->
		<div class="flex items-center h-screen w-full bg-cover bg-center sticky top-0" style="background-image: url('/enter_teddy.webp')">
			<div class="absolute inset-0 bg-neutral-1000/30"></div>
			<div class="max-w-7xl mx-auto p-5 grid grid-cols-12">
				<div class="stickyparallax2 z-10 col-span-12 md:col-span-6">
					<h5 class="text-neutral-50 md:text-h5-desktop text-h5-mobile pb-5">2022</h5>
					<h1 class="text-neutral-50 md:text-h1-desktop text-h3-mobile pb-5">Enter Teddy</h1>
					<p class="text-neutral-50">
						In the spring of 2022, the concept for the Teddy sofa was conceived, drawing inspiration from their diverse experiences with vintage furniture traded through ‘Kram & Klenodier’. A symbol of the unique vision and dedication that OMHU represents, Teddy became a central piece in their journey. <br /><br />It was during this
						creative process that the brand OMHU was born, not just to encompass Teddy but to pave the way for future designs. Today, OMHU proudly stands as a testament to our vision and dedication to creating unique, high-quality furniture pieces.
					</p>
				</div>
			</div>
		</div>
		<!---------------- A Holistic Approach ---------------->
		<div class="flex items-center h-screen w-full bg-cover bg-center sticky top-0" style="background-image: url('/a_holistic_approach.webp')">
			<div class="absolute inset-0 bg-neutral-1000/30"></div>
			<div class="max-w-7xl mx-auto p-5 grid grid-cols-12">
				<div class="stickyparallax3 z-10 col-span-12 md:col-span-6">
					<h5 class="text-neutral-50 md:text-h5-desktop text-h5-mobile pb-5">2024</h5>
					<h1 class="text-neutral-50 md:text-h1-desktop text-h3-mobile pb-5">A Holistic Approach</h1>
					<p class="text-neutral-50">
						The vision of OMHU extends beyond design; Creating products that adapt to all stages of life is at the heart of what we do. We believe in longevity—a critical focus in a world struggling with overconsumption. <br /><br />Instead of replacing furniture, our designs evolve with you, adapting seamlessly to your changing needs.
						At OMHU, we’re committed to creating designs that grow with you, proving that thoughtful design can last a lifetime.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!------------------- Explore the collection ------------------->
	<section x-data="{ slidenr: 'one' }" class="max-w-7xl mx-auto p-5">
		<!-- Header med titel og knapper -->
		<div class="flex justify-between items-center pb-5 md:pb-10 relative">
			<!-- Overskrift -->
			<h2 class="text-h4-mobile md:text-h3-desktop">Explore the collection</h2>

			<!-- Pilene – vertikalt centreret med overskriften -->
			<div class="flex items-center gap-5 h-full">
				<button @click="slidenr = 'one'" class="w-6 h-6 flex items-center justify-center">
					<img src="/pil.svg" alt="Forrige" class="w-6 h-6 transform rotate-180" />
				</button>
				<button @click="slidenr = 'two'" class="w-6 h-6 flex items-center justify-center">
					<img src="/pil.svg" alt="Næste" class="w-6 h-6" />
				</button>
			</div>
		</div>

		<!-- Slide 1 -->
		<div class="grid grid-cols-2 md:grid-cols-4 gap-5" x-show="slidenr === 'one'" x-transition>
			<Card url="/teddy" cardimage="corner_closed_sage.webp" cardimagealt="Corner closed sage" miljobillede="Corner-Closed_collection.webp" miljobilledealt="Corner closed sage miljøbillede" badgerabat="true" badgerabatsats="20%" produktnavn="Corner Closed" produktpris="21.600,00 DKK" rabatpris="17.280,00 DKK" />
			<Card url="/teddy" cardimage="teddy_brown.webp" cardimagealt="Teddy brown" miljobillede="comfort_focused.webp" miljobilledealt="Teddy brown miljøbillede" badgebest="true" produktnavn="Teddy" produktpris="12.850,00 DKK" />

			<div class="hidden md:block">
				<Card url="/teddy" cardimage="ottoman_yellow.webp" cardimagealt="Ottoman yellow" miljobillede="ottoman_collection.webp" miljobilledealt="Ottoman yellow miljøbillede" produktnavn="Ottoman" produktpris="3.400,00 DKK" />
			</div>
			<div class="hidden md:block">
				<Card url="/teddy" cardimage="corner_open_moss.webp" cardimagealt="Corner Open moss" miljobillede="shop_the_look_corner_open.webp" miljobilledealt="Corner Open moss miljøbillede" produktnavn="Corner Open" produktpris="19.950,00 DKK" />
			</div>
		</div>

		<!-- Slide 2 -->
		<div class="grid grid-cols-2 md:grid-cols-4 gap-5" x-show="slidenr === 'two'" x-transition>
			<Card url="/teddy" cardimage="teddy_chair_sage.webp" cardimagealt="Teddy chair sage" miljobillede="shop_the_look_teddy_chair.webp" miljobilledealt="Teddy chair sage miljøbillede" produktnavn="Teddy Chair" produktpris="7.495,00 DKK" />
			<Card url="/teddy" cardimage="upgrade_teddy_plus_card.webp" cardimagealt="Upgrade" miljobillede="upgrade_corner_closed_card.webp" miljobilledealt="Upgrade" produktnavn="Upgrade" produktpris="From 6.500,00 DKK" />

			<div class="hidden md:block">
				<Card url="/teddy" cardimage="pillows_rust.webp" cardimagealt="Pillows rust" miljobillede="pillows_collection.webp" miljobilledealt="Pillows rust miljøbillede" produktnavn="Pillows" produktpris="850,00 DKK" />
			</div>
			<div class="hidden md:block">
				<Card url="/teddy" cardimage="teddy_plus_turquoise.webp" cardimagealt="Teddy plus turquoise" miljobillede="shop_the_look_teddy_plus.webp" miljobilledealt="Teddy plus turquoise miljøbillede" badgenyhed="true" produktnavn="Teddy Plus" produktpris="18.200,00 DKK" />
			</div>
		</div>
	</section>

	<!------------------- Testimonials ------------------->
	<section x-data="{ slidenr: 'one' }" class="max-w-7xl mx-auto p-5">
		<!-- Header med titel og knapper -->
		<div class="flex justify-between items-center pb-5 md:pb-10 relative">
			<!-- Overskrift -->
			<h2 class="text-h4-mobile md:text-h3-desktop">Customer feedback</h2>

			<!-- Pilene – vertikalt centreret med overskriften -->
			<div class="flex items-center gap-5 h-full">
				<button @click="slidenr = 'one'" class="w-6 h-6 flex items-center justify-center">
					<img src="/pil.svg" alt="Forrige" class="w-6 h-6 transform rotate-180" />
				</button>
				<button @click="slidenr = 'two'" class="w-6 h-6 flex items-center justify-center">
					<img src="/pil.svg" alt="Næste" class="w-6 h-6" />
				</button>
			</div>
		</div>

		<!-- Slide 1 -->
		<div class="grid grid-cols-1 md:grid-cols-3 gap-5" x-show="slidenr === 'one'" x-transition>
			<Testimonials stjerner={4} navn="Andreas Juul" overskrift="We're thrilled with our new Teddy Corner Open" broedtekst="We're thrilled with our new Teddy Corner Open, which is perfect for the whole family. Easy to set up and easy to change. Big recommendation from here." />

			<div class="hidden md:block">
				<Testimonials
					stjerner={5}
					navn="Anna Kirstine"
					overskrift="I have rarely been so happy with a purchase"
					broedtekst="I have rarely been so happy with a purchase. The sofa is really cool, and at the same time very comfortable both to sit and lie in. The perfect addition to our living room! Also great praise to customer service, who were very helpful when we had some delivery problems. All in all, a really good experience shopping at omhucph <3"
				/>
			</div>
			<div class="hidden md:block">
				<Testimonials stjerner={5} navn="Ana A." overskrift="Absolute fan of my teddy sofa" broedtekst="Absolute fan of my teddy sofa. Design, comfy and crazy colours. Fast delivery (I received my order in one month). Amazing customer service, fast answer and really helpfull! OMHU i s a great choice!" />
			</div>
		</div>

		<!-- Slide 2 -->
		<div class="grid grid-cols-1 md:grid-cols-3 gap-5" x-show="slidenr === 'two'" x-transition>
			<Testimonials
				stjerner={5}
				navn="Pippa"
				overskrift="Teddy"
				broedtekst="I absolutely love my teddy sofa! The design fits beautifully in my new apartment. I love the quality of the mattresses and how firm they are. I especially love how comfortable the back pillows are to sit in a seated position and at the same time you can slouch down and also be comfortable! Genius! The the delivery to Germany was much faster than the estimated time."
			/>

			<div class="hidden md:block">
				<Testimonials stjerner={5} navn="Michaela" overskrift="Love my purchase" broedtekst="Love my purchase! The quality of the sofa is top and it’s extremely comfortable - for sitting and for sleeping." />
			</div>
			<div class="hidden md:block">
				<Testimonials
					stjerner={5}
					navn="Mauro Naredo"
					overskrift="Extremely satisfied with my order"
					broedtekst="I am extremely satisfied with my order! The product arrived even better than I expected, and the customer service was outstanding—they were there to help me every step of the way. I’m truly happy with my purchase and highly recommend them to everyone."
				/>
			</div>
		</div>
	</section>

	<!------------------- FAQ ------------------->
	<div class="w-full max-w-3xl p-5 mx-auto">
		<h3 class="text-h4-mobile md:text-h3-desktop">Got questions? We’ve got answers!</h3>
		<div class="grid max-w-5xl mx-auto mt-6 divide-y divide-neutral-200">
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">What do I do if my sofa or other products arrives damaged?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					If your sofa or any other product arrives damaged, please follow these steps: <br /><br />Document the Damage: Take clear photos of the damage as soon as possible. This will help us understand the issue and expedite the process. <br /><br />Contact Our Support Team: Reach out to us at hello@omhucph.com, if possible, within 48
					hours of receiving the item. Please provide your order number, a brief description of the damage, and the photos you took. <br /><br />We’ll Take Care of the Rest: Our team will review your case and work with you to find the best solution, whether it’s a replacement, repair, or other suitable option. Your satisfaction is our
					priority, and we’ll make sure to resolve the issue quickly and effectively.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">How much does shipping cost?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Shipping costs can be estimated directly on the product page, and the exact price will always be shown at checkout. The cost varies depending on your location, and it can fluctuate over time due to factors like shipping routes and courier availability. <br /><br />We understand that shipping a sofa can seem like a significant
					expense. Large furniture requires special freight, and we work closely with trusted couriers who specialize in handling our products with care. This ensures your sofa arrives safely and within the expected timeframe, providing you with the high-quality OMHU experience you deserve.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">How long does delivery take?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Our estimated delivery time is 3-6 weeks, as we produce all orders on demand and in sequence. This means that production time is not affected by the model, color, or destination of your order. <br /><br />

					Because each piece is made to order, we can’t provide an exact delivery date upfront. However, as soon as your order is ready for dispatch, you will receive an email with the subject "Your order is on the way." From there, our shipping partner will keep you updated and coordinate a delivery date that works best for you.

					<br /><br />We appreciate your patience — your OMHU piece is being carefully crafted just for you!
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">How can I get the TEDDY if you do not ship to my country?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Love our original TEDDY sofa but can’t order it in your country yet? We hear you! OMHU is on a journey to bring our designs to new markets around the world, and your interest helps shape where we ship next.

					<br /><br />Sign up and help us prioritize your country through this link: https://omhucph.com/pages/waitlist

					<br /><br />We’re expanding quickly and adding new countries every month! Sign up below to let us know where you are, and we’ll keep you updated on future launches in your region.

					<br /><br />Together, we’re building a global OMHU community – and we can’t wait to bring our designs to you.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Do you deliver outside the EU?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Yes we do! At the moment we also ship to the US and Canada.

					<br /><br />For US and Canadian customers, our products are available through TEAK NYC at teaknewyork.com.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Can I get free color swatches?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Yes! We know choosing the perfect color is a big deal, so we offer free fabric swatches to help you see and feel the materials before making your decision — you only have to cover the shipping.

					<br /><br />You can order them directly on our website — just add your favorite colors to the cart, and we’ll send them your way.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Where can I see the TEDDY sofa in person?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">We get it — seeing (and sinking into) the TEDDY sofa in real life makes all the difference. You can experience it for yourself in one of our showrooms! Check our Showrooms & Friends of OMHU for the latest locations and come feel the comfort firsthand.</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Will the mattresses slide apart when using TEDDY as a bed?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">Nope! TEDDY is designed to stay in place. <br /><br />The mattresses have Velcro strips underneath, and we also include extra Velcro strips that you can use to attach the mattresses together — so they won’t slide apart when in bed mode.</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">How is TEDDY different from cheaper alternatives online?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					We know there are lookalikes out there, but TEDDY isn’t just about looks — it’s about quality, durability, and craftsmanship. We’ve spent years perfecting the materials, design, and feel to make TEDDY truly unique.

					<br /><br />Cheaper versions often lack the same high-quality foam, sturdy construction, and longlasting fabric that make TEDDY as comfortable and long-lasting as it is. To ensure you’re getting the real deal, we recommend purchasing only through omhucph.com or teaknewyork.com for US customers.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Can mold form underneath the TEDDY mattresses?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					We know there are lookalikes out there, but TEDDY isn’t just about looks — it’s about quality, durability, and craftsmanship. We’ve spent years perfecting the materials, design, and feel to make TEDDY truly unique.

					<br /><br />Cheaper versions often lack the same high-quality foam, sturdy construction, and longlasting fabric that make TEDDY as comfortable and long-lasting as it is. To ensure you’re getting the real deal, we recommend purchasing only through omhucph.com or teaknewyork.com for US customers.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">Can mold form underneath the TEDDY mattresses?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					Nope! TEDDY is designed to prevent moisture buildup. All our mattress covers have a technical fabric underneath that acts as a barrier against moisture formation.

					<br /><br />The mattresses themselves are made from cold foam (High Resilience foam), which has an open-cell structure that allows air to circulate freely. This helps regulate temperature and prevents heat buildup — keeping your TEDDY fresh and breathable at all times.
				</p>
			</details>
			<details class="group py-4">
				<summary class="flex justify-between items-center list-none cursor-pointer">
					<span class="text-neutral-1000 text-p-mobile md:text-p-desktop font-semibold">What is your return policy?</span>
					<span class="transition group-open:rotate-180">
						<!-- Plus/Minus symbol -->
						<span class="text-neutral-1000 text-h5-mobile md:text-h5-desktop">
							<span class="group-open:hidden">+</span>
							<span class="group-open:block hidden">−</span>
						</span>
					</span>
				</summary>
				<p class="mt-3 group-open:animate-fadeIn">
					We offer a 30-day return policy if you change your mind.

					<br /><br />Please be aware that returns must be made in the original packaging and the item must be intact and in the same condition as when you received it.

					<br /><br />Shipping costs for the return are covered by the customer, and you are responsible for arranging the return delivery. This allows you to choose the easiest and most suitable shipping solution for you. Once we receive the item back at our warehouse, we will process your refund as quickly as possible. <br /><br />To
					ensure a smooth return process, please keep all original packaging, as returns without it cannot be accepted.
				</p>
			</details>
		</div>
	</div>

	<style>
		/**************** Slider/Hero ****************/
		.carousel-open:checked + .carousel-item {
			position: static;
			opacity: 100;
		}

		.carousel-bullet {
			background-color: transparent;
			transition: background-color 0.3s ease;
		}

		.carousel-bullet[aria-current="true"] {
			background-color: white;
		}

		/**************** Accordion ****************/
		.md\:flex-grow {
			flex: 1 1 auto;
		}

		/**************** Color ****************/
		#carousel > div.active {
			transform: translateY(-24px);
		}
		#carousel > div.active div {
			opacity: 1;
		}
	</style>
	<script src="/src/index.js" type="module"></script>
	<script>
		/* Import af Motion One biblioteket */
		import { animate, stagger, inView, scroll, timeline } from "motion";

		/**************** Shop the look ****************/
		document.addEventListener("DOMContentLoaded", function () {
			const circles = document.querySelectorAll(".circle");
			const popup = document.getElementById("popup");
			const closePopup = document.getElementById("closePopup");
			const popupImage = document.getElementById("popupImage");
			const popupTitle = document.getElementById("popupTitle");
			const popupPrice = document.getElementById("popupPrice");
			const popupLink = document.getElementById("popupLink");

			circles.forEach((circle) => {
				circle.addEventListener("click", function (event) {
					const rect = circle.getBoundingClientRect();
					const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
					const scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;

					// Set popup position based on circle position
					popup.style.position = "absolute";
					popup.style.top = `${rect.top + scrollTop - popup.offsetHeight}px`;
					popup.style.left = `${rect.left + scrollLeft}px`;

					// Update popup content based on circle data attributes
					popupImage.src = circle.getAttribute("data-image");
					popupTitle.textContent = circle.getAttribute("data-title");
					popupPrice.textContent = circle.getAttribute("data-price");
					popupLink.href = circle.getAttribute("data-link");

					popup.classList.remove("hidden");
				});
			});

			closePopup.addEventListener("click", function () {
				popup.classList.add("hidden");
			});
		});

		/**************** Color ****************/
		function getTextColor(bgColor) {
			// Simple luminance check
			const hex = bgColor.replace("#", "");
			const r = parseInt(hex.substr(0, 2), 16);
			const g = parseInt(hex.substr(2, 2), 16);
			const b = parseInt(hex.substr(4, 2), 16);
			const luminance = (0.299 * r + 0.587 * g + 0.114 * b) / 255;
			return luminance > 0.6 ? "black" : "white";
		}

		function toggleActive(index) {
			const cards = document.querySelectorAll("#carousel > div");
			cards.forEach((c) => {
				c.classList.remove("active");
			});
			cards[index].classList.add("active");
		}

		document.getElementById("leftArrow").addEventListener("click", () => {
			document.getElementById("carousel").scrollBy({ left: -100, behavior: "smooth" });
		});
		document.getElementById("rightArrow").addEventListener("click", () => {
			document.getElementById("carousel").scrollBy({ left: 100, behavior: "smooth" });
		});

		// Ensure click events are properly attached on mobile
		document.querySelectorAll("#carousel > div").forEach((card, index) => {
			card.addEventListener("click", (event) => {
				event.stopPropagation();
				toggleActive(index);
			});
		});

		/**************** Timeline ****************/

		scroll(animate(".stickyparallax1", { y: [-300, 0] }), {
			target: document.querySelector(".stickyparallax1"),
		});
		scroll(animate(".stickyparallax2", { y: [-300, 0] }), {
			target: document.querySelector(".stickyparallax2"),
		});
		scroll(animate(".stickyparallax3", { y: [-300, 0] }), {
			target: document.querySelector(".stickyparallax3"),
		});
	</script>
</MainLayout>
