---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Lookbook 2025">
    <!------------------- Teddy Hero ------------------->
    <section class="grid grid-cols-1 md:grid-cols-2 h-screen">
        <!-- Venstre billede (stort) -->
        <div class="h-[50vh] md:h-full">
            <img class="w-full h-full object-cover" src="/hero_2.webp" alt="Teddy brown" />
        </div>

        <!-- Højre: to billeder stablet -->
        <div class="grid grid-rows-2 h-[100vh]">
            <div class="h-[50vh] md:h-full">
                <img class="w-full h-full object-cover" src="/compact_and_stylish.webp" alt="Teddy sage" />
            </div>
            <div class="h-[50vh] md:h-full">
                <img class="w-full h-full object-cover" src="/hero_3.webp" alt="Teddy mustard" />
            </div>
        </div>
    </section>

    <style></style>
</MainLayout>
