---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Lookbook 2025">
    <!------------------- Teddy Hero ------------------->
    <section class="grid md:grid-cols-2 relative">
        <!-- Venstre (eller top på mobil): Billede -->
        <div class="relative">
            <img class="object-cover h-[75vh] md:h-screen w-full" src="/hero_2.webp" alt="Teddy brown" />
            <div class="absolute inset-0 bg-neutral-1000/20"></div>
        </div>

        <!-- Tekstoverlay -->
        <div class="absolute w-full left-0 right-0 p-5 max-w-7xl mx-auto
                    top-[75%] translate-y-[-100%] md:top-auto md:bottom-0 md:translate-y-0 flex md:items-end">
            <div class="grid grid-cols-12 py-0 md:py-10">
                <div class="col-span-12 md:col-span-6 pr-0 md:pr-10">
                    <h3 class="text-neutral-50 pb-2.5 md:pb-5">Teddy</h3>
                    <h5 class="text-neutral-50 pb-2.5 md:pb-5">12.850,00 DKK</h5>
                    <p class="text-neutral-50 pb-2.5 md:pb-5">Crafted with two cold foam mattresses and angled cushions, TEDDY balances soft support and everyday flexibility. Held by chrome bars and wrapped in durable corduroy, it’s designed to move with you - and hold up beautifully.</p>
                    <a href="https://omhucph.com/products/teddy">
                        <Button variant="primary" size="medium md:large">Buy now</Button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Højre (eller bund på mobil): To billeder -->
        <div class="grid grid-cols-2 md:grid-cols-1 flex-1">
            <div class="relative">
                <img class="object-cover h-[25vh] md:h-[50vh] w-full" src="/compact_and_stylish.webp" alt="Teddy sage" />
                <div class="absolute inset-0 bg-neutral-1000/20"></div>
            </div>
            <div class="relative">
                <img class="object-cover h-[25vh] md:h-[50vh] w-full" src="/hero_3.webp" alt="Teddy mustard" />
                <div class="absolute inset-0 bg-neutral-1000/20"></div>
            </div>
        </div>
    </section>

    <!------------------- Color ------------------->

    <!------------------- Dimensions ------------------->
    <section class="p-5 max-w-7xl mx-auto">
        <h3 class="text-h4-mobile md:text-h3-desktop pb-5 md:pb-10">Product dimensions</h3>
        <div class="grid md:grid-cols-12 gap-5">
            <img class="col-span-12 md:col-span-6" src="/teddy_dimensions.webp" alt="Teddy dimensions" />
            <div class="col-span-12 md:col-span-6 place-content-center">
                <div class="flex justify-between border-b border-neutral-200 py-2 gap-5">
                    <p class="font-bold">Overall size</p>
                    <p>width 200 cm, depth 100 cm, height 70 cm</p>
                </div>
                <div class="flex justify-between border-b border-neutral-200 py-2 pt-5">
                    <p class="font-bold">Seat height</p>
                    <p>34 cm</p>
                </div>
                <div class="flex justify-between border-b border-neutral-200 py-2 pt-5">
                    <p class="font-bold">Seat depth</p>
                    <p>65 cm</p>
                </div>
                <div class="flex justify-between border-b border-neutral-200 py-2 pt-5">
                    <p class="font-bold">Seating area</p>
                    <p>130x65 cm</p>
                </div>
            </div>
        </div>
    </section>

    <!------------------- Function ------------------->
    <section class="p-5 max-w-7xl mx-auto">
        <h3 class="text-h4-mobile md:text-h3-desktop pb-5 md:pb-10">Function as</h3>
        <div class="grid md:grid-cols-12 gap-5">
            <div class="col-span-12 md:col-span-4">
                <div class="relative">
                    <img src="/function_bed.webp" alt="Function as a bed" />
                    <div class="absolute inset-0 flex items-end p-5">
                        <h5 class="">Bed</h5>
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-4">
                <div class="relative">
                    <img src="/function_conversation.webp" alt="Function as a conversation pit" />
                    <div class="absolute inset-0 flex items-end p-5">
                        <h5 class="">Conversation pit</h5>
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-4">
                <div class="relative">
                    <img src="/function_sofa.webp" alt="Function as a sofa" />
                    <div class="absolute inset-0 flex items-end p-5">
                        <h5 class="">Sofa</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------- FAQ ------------------->

    <!------------------- You might also like ------------------->

    <style></style>
</MainLayout>
