---
import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
---

<!------------------- Mobil ------------------->
<section class="block md:hidden bg-blue-700 bg-cover bg-center overflow-hidden" style="background-image: url('/background.svg');">
    <section class="grid p-5">
        <div class="col-span-12 py-5">
            <a href="/"><img src="/logo/logo.webp" class="w-20" alt="Omhu logo" /></a>
        </div>

        <div class="col-span-12">
            <Heading htmlheading="h1" size="h4_h2" stylingclasses="text-neutral-50 pb-2">Stay in the loop with our weekly newsletter</Heading>
            <form action="#">
                <div class="items-center mx-auto pb-2.5 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
                    <div class="relative w-full">
                        <input class="block p-5 pl-5 w-full text-p-mobile text-neutral-50 bg-blue-600/90 border-blue-600/90 rounded-2xl placeholder-neutral-50" placeholder="Enter your email" type="email" id="email" required="" />
                        <div class="absolute inset-y-0 right-0 flex items-center justify-end pr-2.5">
                            <Button variant="quinary" size="medium md:large">→</Button>
                        </div>
                    </div>
                </div>
            </form>
            <Heading htmlheading="p" size="ps" stylingclasses="text-neutral-50 pb-10">You can unsubscribe at any time.</Heading>
            <div class="flex justify-start gap-5 pb-5">
                <div class="w-8 flex-shrink-0">
                    <a href="https://www.facebook.com/omhucph" target="_blank"><img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/facebook.svg" alt="facebook icon" /></a>
                </div>
                <div class="w-8 flex-shrink-0">
                    <a href="https://www.instagram.com/omhu_cph/" target="_blank"><img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/instagram.svg" alt="instagram icon" /></a>
                </div>
                <div class="w-8 flex-shrink-0">
                    <a href="https://dk.pinterest.com/omhu_cph/" target="_blank"><img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/pinterest.svg" alt="pinterest icon" /></a>
                </div>
            </div>
        </div>
        <div class="col-span-12 py-5">
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50 pb-3"><span class="font-bold">Email:</span> hello@omhucph.com</Heading>
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50"><span class="font-bold">Tlf:</span> +45 31 12 26 26</Heading>
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50 pb-3">Between 10 AM – 2 PM, CEST</Heading>
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50 pb-3"><span class="font-bold">CVR:</span> 42822167</Heading>
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50 pb-6">Hejrevej 33C 2400 København NV</Heading>
            <Heading htmlheading="p" size="ps" stylingclasses="text-neutral-50">© 2025 omhucph</Heading>
        </div>
    </section>
</section>

<!------------------- Desktop ------------------->
<section class="hidden md:block bg-blue-700 bg-cover bg-center overflow-hidden" style="background-image: url('/background.svg');">
    <section class="grid grid-cols-12 gap-5 max-w-7xl mx-auto p-5">
        <div class="col-span-6 py-5">
            <a href="/"><img src="/logo/logo.webp" class="w-28 pb-5" alt="Omhu logo" /></a>
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50 pb-3"><span class="font-bold">Email:</span> hello@omhucph.com</Heading>
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50"><span class="font-bold">Tlf:</span> +45 31 12 26 26</Heading>
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50 pb-3">Between 10 AM – 2 PM, CEST</Heading>
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50 pb-3"><span class="font-bold">CVR:</span> 42822167</Heading>
            <Heading htmlheading="p" size="p" stylingclasses="text-neutral-50 pb-6">Hejrevej 33C 2400 København NV</Heading>
            <Heading htmlheading="p" size="ps" stylingclasses="text-neutral-50">© 2025 omhucph</Heading>
        </div>
        <div class="col-span-6 py-5 place-content-center">
            <Heading htmlheading="h1" size="h4_h2" stylingclasses="text-neutral-50 pb-2">Stay in the loop with our weekly newsletter</Heading>
            <form action="#">
                <div class="items-center mx-auto pb-2.5 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
                    <div class="relative w-full md:w-5/6">
                        <input class="block p-5 pl-5 w-full text-p-desktop text-neutral-50 bg-blue-600/90 border-blue-600/90 rounded-2xl placeholder-neutral-50" placeholder="Enter your email" type="email" id="email" required="" />
                        <div class="absolute inset-y-0 right-0 flex items-center justify-end pr-2.5">
                            <Button variant="quinary" size="large">→</Button>
                        </div>
                    </div>
                </div>
            </form>
            <Heading htmlheading="p" size="ps" stylingclasses="text-neutral-50 pb-10">You can unsubscribe at any time.</Heading>
            <div class="flex justify-start gap-5">
                <div class="w-8 flex-shrink-0">
                    <a href="https://www.facebook.com/omhucph" target="_blank"> <img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/facebook.svg" alt="facebook icon" /></a>
                </div>
                <div class="w-8 flex-shrink-0">
                    <a href="https://www.instagram.com/omhu_cph/" target="_blank"><img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/instagram.svg" alt="instagram icon" /></a>
                </div>
                <div class="w-8 flex-shrink-0">
                    <a href="https://dk.pinterest.com/omhu_cph/" target="_blank"><img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/pinterest.svg" alt="pinterest icon" /></a>
                </div>
            </div>
        </div>
    </section>
</section>
