---
import Button from "../components/Button.astro";
---

<!------------------- Mobil ------------------->
<section class="block md:hidden bg-blue-700 bg-cover bg-center overflow-hidden" style="background-image: url('/background.svg');">
    <section class="grid p-5">
        <div class="col-span-12 py-5">
            <a href="/"><img src="/public/logo/logo.webp" class="w-20" alt="Omhu logo" /></a>
        </div>

        <div class="col-span-12">
            <h4 class="text-neutral-50 pb-5">Stay in the loop with our weekly newsletter</h4>
            <form action="#">
                <div class="items-center mx-auto pb-2.5 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
                    <div class="relative w-full">
                        <input class="block p-5 pl-5 w-full text-p-mobile text-neutral-50 bg-blue-600/90 border-blue-600/90 rounded-2xl placeholder-neutral-50" placeholder="Enter your email" type="email" id="email" required="" />
                        <div class="absolute inset-y-0 right-0 flex items-center justify-end pr-2.5">
                            <Button variant="quinary" size="medium md:large">→</Button>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text-neutral-50 pb-5 text-ps-mobile">You can unsubscribe at any time.</p>
            <div class="flex justify-start gap-5 pb-5">
                <div class="w-8 flex-shrink-0">
                    <img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/facebook.svg" alt="facebook ikon" />
                </div>
                <div class="w-8 flex-shrink-0">
                    <img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/instagram.svg" alt="instagram ikon" />
                </div>
                <div class="w-8 flex-shrink-0">
                    <img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/pinterest.svg" alt="pinterest ikon" />
                </div>
            </div>
        </div>
        <div class="col-span-12 py-5">
            <p class="text-neutral-50 pb-5"><span class="font-bold">Email:</span> hello@omhucph.com</p>
            <p class="text-neutral-50"><span class="font-bold">Tlf:</span> +45 31 12 26 26</p>
            <p class="text-neutral-50 pb-5">Between 10 AM – 2 PM, CEST</p>
            <p class="text-neutral-50 pb-5"><span class="font-bold">CVR:</span> 42822167</p>
            <p class="text-neutral-50 pb-10">Hejrevej 33C 2400 København NV</p>
            <p class="text-neutral-50 text-ps-mobile md:text-ps-desktop">© 2025 omhucph</p>
        </div>
    </section>
</section>

<!------------------- Desktop ------------------->
<section class="hidden md:block bg-blue-700 bg-cover bg-center overflow-hidden" style="background-image: url('/background.svg');">
    <section class="grid grid-cols-12 gap-5 max-w-7xl mx-auto p-5">
        <div class="col-span-6 py-5">
            <a href="/"><img src="/public/logo/logo.webp" class="w-28 pb-5" alt="Omhu logo" /></a>
            <p class="text-neutral-50 pb-5"><span class="font-bold">Email:</span> hello@omhucph.com</p>
            <p class="text-neutral-50"><span class="font-bold">Tlf:</span> +45 31 12 26 26</p>
            <p class="text-neutral-50 pb-5">Between 10 AM – 2 PM, CEST</p>
            <p class="text-neutral-50 pb-5"><span class="font-bold">CVR:</span> 42822167</p>
            <p class="text-neutral-50 pb-10">Hejrevej 33C 2400 København NV</p>
            <p class="text-neutral-50 text-ps-desktop">© 2025 omhucph</p>
        </div>
        <div class="col-span-6 py-5 place-content-center">
            <h2 class="text-neutral-50 pb-5">Stay in the loop with our weekly newsletter</h2>
            <form action="#">
                <div class="items-center mx-auto pb-2.5 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
                    <div class="relative w-full md:w-5/6">
                        <input class="block p-5 pl-5 w-full text-p-desktop text-neutral-50 bg-blue-600/90 border-blue-600/90 rounded-2xl placeholder-neutral-50" placeholder="Enter your email" type="email" id="email" required="" />
                        <div class="absolute inset-y-0 right-0 flex items-center justify-end pr-2.5">
                            <Button variant="quinary" size="large">→</Button>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text-neutral-50 pb-10 text-ps-desktop">You can unsubscribe at any time.</p>
            <div class="flex justify-start gap-5">
                <div class="w-8 flex-shrink-0">
                    <img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/facebook.svg" alt="facebook ikon" />
                </div>
                <div class="w-8 flex-shrink-0">
                    <img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/instagram.svg" alt="instagram ikon" />
                </div>
                <div class="w-8 flex-shrink-0">
                    <img class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer" src="/pinterest.svg" alt="pinterest ikon" />
                </div>
            </div>
        </div>
    </section>
</section>
