---
const {
    stjerner = 0, // Tal mellem 0-5
    navn = "",
    overskrift = "",
    broedtekst = "",
} = Astro.props;
---

<article class="bg-neutral-100 p-5 rounded-lg shadow-sm h-full flex flex-col">
    <!-- Stjerner -->
    <div class="flex pb-2.5">
        {Array.from({ length: 5 }).map((_, i) => <img key={i} src={i < stjerner ? "/yellow_star.svg" : "/star.svg"} alt="Stjerne" class="w-5 h-5 mr-1" />)}
    </div>

    <!-- Navn -->
    <p class="text-neutral-400 pb-7.5 text-[0.875rem] md:text-[1.000rem]">{navn}</p>

    <!-- Overskrift -->
    <p class="font-bold pb-2.5 text-[0.875rem] md:text-[1.000rem]">{overskrift}</p>

    <!-- Brødtekst -->
    <p class="flex-grow text-[0.875rem] md:text-[1.000rem]">{broedtekst}</p>
</article>
